.container {
  padding: 1rem 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.map {
  background-color: red;
  flex: 1;
}

.start {
  background-color: green;
  flex: 1;
}